* {
    margin:0;
    padding: 0;
    border:0;
}


.container{
    width: 100%;
    height: 100vh;
    background-color: rgba(47,47,47);
    position: static;
}

.menu-box{
    width: 100%;
    height: 10vh;
    position: absolute;
    
}

.menu p{
    color:white;
    margin-left: 30px;
    margin-top: 30px;
    font-family: monospace;
    font-size: 38px;


}

#list_button_menu{
    margin-left: 300px;
}


.menubutton:hover {
    box-shadow: 3px 3px 25px rgb(40, 130, 255);

}

#list_button_menu{
    list-style: none;
}

#list_button_menu a{
    text-decoration: none;
    color:white;
}

#list_button_menu a:visited{
    text-decoration: none;
    color:white;
}

.menu {
    display: flex;
}

.menu > li {
    margin: 30px;
}

#list_button_menu a{
    margin: 10px;
    font-family: monospace;
    font-size: 28px;
    border: 3px solid white;
    padding: 5px 20px;
    transition: 0.8s;

}

#list_button_menu a:hover{
    border-color: rgb(100, 165, 250);
    color:rgb(75, 151, 250);
    transition: 0.4s;
    animation: ease-in-out;
    padding: 5px 30px;
}




::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(47,47,47)
  }
  

  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 15px;
  }
  




  
.menubutton{
    transition: 1s;
}

html{
    scroll-behavior: smooth;
}



.sectionMsg{
    font-size: 38px;
    font-family: monospace;
    text-align: center;
}


.sectionMsg.white {
    color:white;
}


.description{
    font-size: 28px;
    font-family: monospace;
    color: whitesmoke;

}

.description_box{
    margin-top: 400px;
    margin-left: 30px;
    width: 50%;
    height: 30vh;
    border-radius: 0px;
    background-color: transparent;
    border-radius: 8px;
    border: 3px solid white;
    word-wrap: break-word;

}


.boxes{
    border-radius: 5px;
    border:3px solid white;
    width: 1600px;
    height: 800px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.box1{
    width: 1600px;
    height: calc(800px / 3);
    border-bottom: 3px solid white;

}

.box1:last-child{
    border-bottom: 3px;
}

.img3{
    background: url('../imgs/img3.png');
    position: static;
    height: 266px;
    /* background-size: cover; */
    width: 400px;
    
}

.boxinfo1{
    display: flex;
}

.box-information {

    width: 1600px;
    background-color: #272626;
    height: 266px;

    color:white;
    font-size: 26px;
    font-family: monospace;
    

    
    
}

.box-information h1{
    text-align: center;
}

.box-information p{
    text-align: center;
    
}

details{
    transition: 2s;
    animation: ease-in-out;
    transform: rotate(-50%)
}

.lookprojectsbtn{
    list-style: none;
    text-decoration: none;
    color:white;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    font-size: 38px;
    border: 3px solid white;
    padding:10px 20px;
    transition: 1s;

}

.lookprojectsbtn p{
    transition: 1s;
}

.lookprojectsbtn:hover p{
    border-color: rgb(56, 142, 255);
    color:rgb(40, 130, 255);
    filter:drop-shadow(1px 3px 8px rgb(0, 106, 255));
    transition: 0.4s;
}

.lookprojectsbtn:hover{
    border-color: rgb(70, 140, 250);
    box-shadow: -5px 5px 30px rgb(0, 106, 255);
}

.lookprojectsbtn:visited{
    color:white;
}



.animacja {
    width: 100%;
    animation: typing 3s steps(21), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

