<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="container">
        <div class="menu-box">
            <div class="menu">
                <p class="mainMsg">
                    Sebastian Król - Portfolio
                </p>
                <li id="list_button_menu"> 
                    <a class="menubutton"href="#galeria">Galeria</a>
                    <a class="menubutton"href="/assets/html/projekty.html">Projekty</a>
                    <a class="menubutton"href="#kontakt">Kontakt</a>
                    <a class="menubutton"href="#o-mnie">O mnie</a>
                    <a class="menubutton"href="#cennik">Cennik</a>

                    

                </li>
            </div>
        

                <div class="description">
                    <div class="description_box">
                        <p class="description">
                            <nav>ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd navddddd</nav>
                        </p>

                    </div>
                </div>




    </div>

    </div>


    <section id="galeria" name="galeria">
        <p class="sectionMsg">
            Galeria
        </p>
    </section>

    <section id="projekty" name="projekty">
        <p class="sectionMsg white">
            Projekty
        </p>
    </section>

    <section id="kontakt" name="kontakt">
        <p class="sectionMsg">
            Kontakt
        </p>  
    </section>

    <section id="o-mnie" name="o-mnie">
        <p class="sectionMsg white">
            O mnie
        </p>
    </section>

    <section id="cennik" name="cennik">
        <p class="sectionMsg">
            Cennik
        </p>
    </section>


</body>
</html>