<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>


    <div class="container">
        <div class="menu-box">
            <div class="menu">
                <p class="mainMsg">
                    Sebastian Król - Portfolio
                </p>
                <li id="list_button_menu"> 
                    
                    <a class="menubutton" href="/projekty">Projekty</a>
                    <a class="menubutton" href="/kontakt">Kontakt</a>
                    <a class="menubutton" href="/o-mnie">O mnie</a>
                    <a class="menubutton" href="/cennik">Cennik</a>
                    <a class="menubutton" href="/opinie">Opinie</a>
                </li>
            </div>
        </div>

<!-- <div class="boxes">
    <div class="box1">
        <div class="boxinfo1">
            <div class="img3">

            </div>

            <div class="box-information">
                <h1>Kontakt</h1>
                <br>
                <p class="">Można się ze mną skontaktować używając wielu opcji.<br></p>
            </div>
             # d
        </div>
</div>


 ddadsdsdas
    </div>

</div> -->


<div class="mid">
     <a class="lookprojectsbtn" href="/projekty">
        <div class="animacja">
            <p class="textanim">Zobacz moje projekty.</p> 
        </div>
    </a>
</div>
        
            


</body>
</html>