<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sebastian Król - Projekty</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/projekty.css') }}">
    <link rel="stylesheet" href="/assets/css/projekty.css">
</head>
<body>

    <div class="container">
        <div class="menu-box">
            <div class="menu">
                    <a class="mainMsg" href="/">Sebastian Król - Projekty</a>
                <li id="list_button_menu"> 
                    <a class="menubutton"href="/galeria">Galeria</a>
                    <a class="menubutton"href="/projekty">Projekty</a>
                    <a class="menubutton"href="/kontakt">Kontakt</a>
                    <a class="menubutton"href="/o-mnie">O mnie</a>
                    <a class="menubutton"href="/cennik">Cennik</a>

                    

                </li>
            </div>
        </div>

        <div class="projectBox">
            
            <a href="/projekty/aplikacje">
                <div class="box s1">
                    <!-- d d-->
                    <p class="white">Aplikacjee</p>
                </div>
            </a>

            <a href="/projekty/strony">
                <div class="box s2">
                    <p class="white">Strony</p>
                </div>
            </a>
        </div>

    </div>

    <script>

    </script>


<script src="{{ url_for('static', filename='css/projekty.css') }}"></script>


</body>
</html>